.all{
    background: url(img/login_bgx.gif);
    height: 100%;
    position: relative;
}
.login{
    max-width: 405px;
    position: relative;
    margin: 0 auto;
    padding-top:10%;
}
.login_logo{
    text-align: center;
    height:50px;
    margin-bottom:25px;
    color: #fafafa;
    font-size: 18px;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
}
.login_border{ background-color: #f0f0f0; box-shadow: 0px 0px 20px #999999; overflow:hidden; height:310px; border-radius: 5px;}
.login-form {
    padding:50px 47px 20px 47px ;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}